<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if app.request.attributes.get('_route') == 'app_user_show' %}active{% endif %}" aria-current="page" href="{{ path('app_user_show', { 'id': user.id } ) }}"> Informations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if app.request.attributes.get('_route') == 'app_user_permissions' %}active{% endif %}" href="{{ path('app_user_permissions', { 'id': user.id } ) }}">Permissions</a>
    

  </li>
</ul>